@font-face {
    font-family: comicsans;
    src: url(../fonts/ComicSans.ttf) format("truetype");
}

body {
    font-family: comicsans;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper-main {
    width: 1000px;
    margin: auto;
    display: inline-block;
    color: black;

}

textarea, input {
    border: 1px solid #ccc;
}

textarea:focus, input:focus, select:focus {
    outline: 2px solid chocolate;
}

textarea {
    width: 25%;
    height: 100;
    resize: both;

}

select {
    border: 1px solid gray;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: chocolate;
}

input[type=text],
textarea,
select,
button {
    padding: 20px;
    border-radius: 10px; /* Corrected typo here */
}

button:hover {
    background-color: red;
    cursor: pointer;
}

/* Change placeholder font family */
::placeholder {
    font-family: 'Courier New', Courier, monospace /* Specify the desired font family */
}



